# Special configuration file for the Nim project

define:booting
define:nimcore
define:nimPreviewFloatRoundtrip

#import:"$projectpath/testability"

@if windows:
  cincludes: "$lib/wrappers/libffi/common"
  # for whatever reason, LLVM emits code that locally leaks stack memory,
  # which can quickly exhaust the available space in loops with
  # many iterations
  passL: "-Wl,--stack,27388608"
@end

define:useStdoutAsStdmsg

@if nimHasStyleChecks:
  styleCheck:error
@end

@if nimHasWarningObservableStores:
  warning[ObservableStores]: off
@end

@if nimHasEffectsOf:
  experimental:strictEffects
  warningAsError:Effect:on
@end

path:"$config/.."
